<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Scripts/bootbox.min.js"></script>
    <script src="~/Areas/Admin/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Areas/Admin/Content/ckeditor/ckeditor.js"></script>
    <link href="~/Areas/Admin/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Scripts/jquery-ui.js"></script>
</head>
<body>
    <div>
        @Html.Action("Menu", "Default");
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
