<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/source/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/scripts/jquery-ui.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/source/jquery.fancybox.js"></script>
    
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Mobile Shop</title>

        <!-- Bootstrap core CSS -->
    
    <link href="/Areas/Admin/lib/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    
        <link href="/Areas/Admin/lib/css/style-dang.css" rel="stylesheet">
        <link href="/Areas/Admin/lib/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
            
    <title>Nông Sản Việt Nam</title>
</head>
<body>
    <div>
        <div class="page-header PhanDau">
            <div class="container">
                <img src="/Mediasfiles/banner---rau-vineco---adr.jpg" style="width:100%" />
            </div>
        </div>
        <div class="container">
            @Html.Action("Menu", "Home")
        </div>

        <div class="container body-content">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    @Html.Action("LeftMenu", "Home");
                </div>
                <div class="col-sm-8 col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
        <footer class=" bg-dark footerA text-center d-flex justify-content-center">
            <div class="container pt-4">
                <div class="row">
                    <div class="ml-5 col-3">
                        <div class="block">
                            <p>PHƯƠNG THỨC THANH TOÁN</p>
                            <p>
                                <img class="icon m-2"
                                     style="background-color: white; border: solid 1.1px; border-color: rgba(88, 87, 85, 0.233) ; border-radius: 5px; padding: 5px 1px 5.5px 1px;"
                                     src="footer_phuongThucThanhtoan/vietcombank.svg" width="53px">
                                <img class="icon m-2"
                                     style="background-color: white;border: solid 1.1px; border-color: rgba(88, 87, 85, 0.233) ;border-radius: 5px; padding: 1px 12px 1px 13px;"
                                     src="footer_phuongThucThanhtoan/momo.png" width="55px">
                                <img class="icon m-2"
                                     style="background-color: white;border: solid 1.1px; border-color: rgba(88, 87, 85, 0.233) ;border-radius: 5px; padding: 1.5px 0px 1.5px 0px;"
                                     src="footer_phuongThucThanhtoan/agribank.png" width="53px">
                                <img class="icon m-2"
                                     style="background-color: white;border: solid 1.1px; border-color: rgba(88, 87, 85, 0.233) ;border-radius: 5px; padding: 4px 1px 3px 1px;"
                                     src="footer_phuongThucThanhtoan/BIDV.png" width="53px">
                                <img class="icon m-2" src="footer_phuongThucThanhtoan/visa.svg">
                                <img class="icon m-2" src="footer_phuongThucThanhtoan/cash.svg">
                            </p>
                        </div>
                        <p style="margin-top: -10px; font-size: 1em;">Lượt truy cập</p>
                        <p style="margin-top: -20px;"><strong id="luottrruycap">9472</strong></p>
                        <script>
                            var myVar = setInterval(myTimer, 1000);
                            function myTimer() {
                                document.getElementById("luottrruycap").innerHTML =
                                    Math.floor(Math.random() * 10000) + 9999;
                            }
                        </script>
                    </div>



                    <div class="col-5">
                        <div class="PhoneSupport">
                            <p>HỖ TRỢ KHÁCH HÀNG</p>
                            <p> Gọi mua hàng: <strong>1800.1099</strong> (7:30 - 22:00)</p>
                            <p> Gọi khiếu nại: <strong class="ml-1">1800.1079</strong> (8:00 - 21:30)</p>
                            <p> Gọi bảo hành: <strong>1800.1069</strong> (8:00 - 21:00)</p>
                        </div>
                        <img width="30%" src="footer_phuongThucThanhtoan/BoCongThuong.png">
                        <img width="10%" src="footer_phuongThucThanhtoan/BoCongThuong2.png">
                    </div>


                    <div class="col-3 hoptac">
                        <p> HỢP TÁC VÀ LIÊN KẾT</p>
                        <p> <a href="">Chính sách bảo hành</a></p>
                        <p><a href=""> Chính sách đổi trả</a></p>
                        <p> <a href="">Tuyển dụng</a></p>
                        <p class="footerIcon">
                            <i style="color:rgb(13, 107, 214);" class="fa fa-facebook-official" aria-hidden="true"></i>
                            <i style="color: rgb(214, 18, 18);" class="fa fa-youtube-play mx-2" aria-hidden="true"></i>
                            <i style="color: rgb(144, 42, 228);" class="fa fa-linkedin-square" aria-hidden="true"></i>
                            <i style="color:rgb(10, 146, 146);" class="fa fa-twitter mx-2" aria-hidden="true"></i>
                        </p>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <p class="description">
                                © 1992. Công ty cổ phần MobileShop. GPMXH: 238/GP-BTTTT do Bộ Thông
                                Tin và
                                Truyền Thông cấp ngày 04/06/1990. Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Q.1, TP.Hồ Chí Minh. Điện
                                thoại: 028 38125960. Email: cskh@mobileShop.com. Chịu trách nhiệm nội dung: Huỳnh Văn Tốt
                            </p>
                        </div>
                    </div>

                </div>
                <!-- /.container -->
        </footer>

    </div>
</body>
</html>
