
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- Custom styles for this template -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
   
   <link href="/Areas/Admin/lib/css/style-dang.css" rel="stylesheet">
</head>


<body class="text-center">
    <!-- Thanh menu tim kiem -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-menu fixed-top">
        <div class="container justify-content-center">
            <a class="navbar-brand" href="/"><i class="fas fa-tree"></i>Shop Cây Cảnh</a>
        </div>

    </nav>






    <!-- form dang nhập -->
    @using (Html.BeginForm("Login", "Default", FormMethod.Post))
    {
        <div style="margin-left:500px" class="container text-center">
        <div class="col">
            <div class="row">
                <div class="col-md-offset-1 col-md-4">
                    <div>
                        @Html.TextBox("txtTen", null, new { @class = "form-control", placeholder = "Tên đăng nhập" })
                    </div>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-4">
                    <div>
                        @Html.Password("txtMK", null, new { @class = "form-control", placeholder = "Mật khẩu" })
                    </div>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-9" style="text-align:center">
                    <div class="input-group">
                        <br />
                        <input type="submit" value="Đăng nhập" class="btn btn-primary" />&nbsp;&nbsp;
                        <a href="~/Home/Index" class="btn btn-danger">Về trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    }

     <footer style="margin-top:300px" class=" bg-dark footerA text-center d-flex justify-content-center">
            <div class="container pt-4">
                <div class="row">
                    <div class="ml-5 col-3">
                        <div class="block">
                            <p>PHƯƠNG THỨC THANH TOÁN</p>
                            <p>
                                <img class="icon m-2"
                                     style="background-color: white; border: solid 1.1px; border-color: rgba(88, 87, 85, 0.233) ; border-radius: 5px; padding: 5px 1px 5.5px 1px;"
                                     src="/Areas/img/footer_phuongThucThanhtoan/vietcombank.svg" width="53px">
                                <img class="icon m-2"
                                     style="background-color: white;border: solid 1.1px; border-color: rgba(88, 87, 85, 0.233) ;border-radius: 5px; padding: 1px 12px 1px 13px;"
                                     src="/Areas/img/footer_phuongThucThanhtoan/momo.png" width="55px">
                                <img class="icon m-2"
                                     style="background-color: white;border: solid 1.1px; border-color: rgba(88, 87, 85, 0.233) ;border-radius: 5px; padding: 1.5px 0px 1.5px 0px;"
                                     src="/Areas/img/footer_phuongThucThanhtoan/agribank.png" width="53px">
                                <img class="icon m-2"
                                     style="background-color: white;border: solid 1.1px; border-color: rgba(88, 87, 85, 0.233) ;border-radius: 5px; padding: 4px 1px 3px 1px;"
                                     src="/Areas/img/footer_phuongThucThanhtoan/BIDV.png" width="53px">
                                <img class="icon m-2" src="/Areas/img/footer_phuongThucThanhtoan/visa.svg">
                                <img class="icon m-2" src="/Areas/img/footer_phuongThucThanhtoan/cash.svg">
                            </p>
                        </div>
                        <p style="margin-top: -10px; font-size: 1em;">Lượt truy cập</p>
                        <p style="margin-top: -20px;"><strong id="luottrruycap">9472</strong></p>
                        <script>
                            var myVar = setInterval(myTimer, 1000);
                            function myTimer() {
                                document.getElementById("luottrruycap").innerHTML =
                                    Math.floor(Math.random() * 10000) + 9999;
                            }
                        </script>
                    </div>



                    <div class="col-5">
                        <div class="PhoneSupport">
                            <p>HỖ TRỢ KHÁCH HÀNG</p>
                            <p> Gọi mua hàng: <strong>1800.1099</strong> (7:30 - 22:00)</p>
                            <p> Gọi khiếu nại: <strong class="ml-1">1800.1079</strong> (8:00 - 21:30)</p>
                            <p> Gọi bảo hành: <strong>1800.1069</strong> (8:00 - 21:00)</p>
                        </div>
                        <img width="30%" src="/Areas/img/footer_phuongThucThanhtoan/BoCongThuong.png">
                        <img width="10%" src="/Areas/img/footer_phuongThucThanhtoan/BoCongThuong2.png">
                    </div>


                    <div class="col-3 hoptac">
                        <p> HỢP TÁC VÀ LIÊN KẾT</p>
                        <p> <a href="">Chính sách bảo hành</a></p>
                        <p><a href=""> Chính sách đổi trả</a></p>
                        <p> <a href="">Tuyển dụng</a></p>
                        <p class="footerIcon">
                            <i style="color:rgb(13, 107, 214);" class="fa fa-facebook-official" aria-hidden="true"></i>
                            <i style="color: rgb(214, 18, 18);" class="fa fa-youtube-play mx-2" aria-hidden="true"></i>
                            <i style="color: rgb(144, 42, 228);" class="fa fa-linkedin-square" aria-hidden="true"></i>
                            <i style="color:rgb(10, 146, 146);" class="fa fa-twitter mx-2" aria-hidden="true"></i>
                        </p>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <p class="description">
                                © 1992. Công ty cổ phần MobileShop. GPMXH: 238/GP-BTTTT do Bộ Thông
                                Tin và
                                Truyền Thông cấp ngày 04/06/1990. Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Q.1, TP.Hồ Chí Minh. Điện
                                thoại: 028 38125960. Email: cskh@mobileShop.com. Chịu trách nhiệm nội dung: Huỳnh Văn Tốt
                            </p>
                        </div>
                    </div>

                </div>
        </footer>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/Areas/Admin/lib/js/xuli-form/form-login.js"></script>
</body>

</html>