@*@using NongSanVietNam.Models;*@
@model IEnumerable<NongSanVietNam.Models.TinTuc>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="row">
    @{
        foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <a class="fancybox" href="#" data-fancybox-group="gallery" title='@item.TieuDe'>
                        <div style="width:220px;height:220px">
                            <img src="@item.HinhAnhDaiDien" alt="..." width="262" height="220">
                        </div>
                    </a>
                    <div class="caption">
                        <h4 style="text-align:center">@item.TieuDe</h4>
                    </div>
                    <div style="text-align:center">
                        @Html.ActionLink("Xem thêm", "ChiTietTin", "TinTuc", new { id = item.IDTinTuc }, new { @class = "btn btn-success", @role = "button" })
                    </div>
                </div>
            </div>
        }
    }
</div>



