@model IEnumerable<NongSanVietNam.Models.LoaiN>
<div class="list-group">
    <a href="#" class="list-group-item active">
        <b>LOẠI CÂY CẢNH</b>
    @{
        foreach (var item in Model)
        {
            @Html.ActionLink(item.TenLoai, "DanhMucNS", "NongSan", new { id = item.IDLoaiNS }, new { @class = "list-group-item" });
        }
    }

</div>


