  
    <nav class="navbar navbar-expand-lg navbar-dark bg-menu fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><i class="fas fa-tree"></i> Cây trái giá rẻ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="input-group md-form form-sm form-2 pl-5 pr-5">


 @using (Html.BeginForm("TimKiemNS", "Home", FormMethod.Post))
            {
                
                    <input style="border-radius:10px" id="txtTimKiem" name="txtTimKiem" type="text" size="20" placeholder="Bạn tìm gì ?" />
                    <button id="button-submit" type="submit"     class="btn btn-light"><i class="fas fa-search"></i> Tìm </button>


                
            }
            
                
            </div>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto pt-3">

                    <li class="nav-item ">
                        <a href="LienHe/Contact.html">
                            <div class="item-menu">

                                <i class="fas fa-phone-square-alt"></i>
                                <div class="item-menu-text">
                                    <p>Liên hệ &amp; Hỗ trợ </p>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li class="nav-item"><a href="Check-reicept_Page/check-receipt.html">
                            <div class="item-menu">
                                <i class="fas fa-money-check"></i>
                                <div class="item-menu-text">
                                    <p>Kiểm tra đơn hàng </p>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li class="nav-item"><a href="/Admin/Default/Login">
                            <div class="item-menu">
                                <i class="fas fa-user"></i>
                                <div class="item-menu-text">
                                    <p>@Html.ActionLink("Đăng nhập", "Index", "Default/Login", new { area = "Admin" }, null)</p>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li class="nav-item"><a href="GioHang&checkout_Page/gioHang.html">
                            <div class="item-menu" id="cart">
                                <i class="fas fa-shopping-cart"></i>
                                <div class="item-menu-text">
                                    <p>Giỏ hàng </p>
                                </div>
                                <label class="quantity-cart d-block" id="quantity-cart">3</label>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
