<nav class="navbar navbar-expand-lg navbar-dark bg-menu fixed-top">
    <div class="container">
        
        <@Html.ActionLink("TRANG CHỦ", "Index", "Home", new {@lass="navbar-brand"})

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--
        <div class="input-group md-form form-sm form-2 pl-5 pr-5">
            <input class="form-control my-0 py-1 lime-border" type="text" placeholder="Bạn tìm gì..." aria-label="Search">
            <div class="input-group-append">
                <span class="input-group-text lime lighten-2" id="basic-text1">
                    <a href="result_Page/result-searching.html"><i class="fas fa-search text-grey" aria-hidden="true"></i></a>
                </span>
            </div>
        </div>-->

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto pt-3">

                <li class="nav-item ">
                    <div class="item-menu">

                        <i class="fas fa-phone-square-alt"></i>
                        <div class="item-menu-text">
                            @Html.ActionLink("NÔNG SẢN", "Index", "NongSan")
                        </div>

                    </div>
                    </a>
                </li>
                <li class="nav-item">
                   
                        <div class="item-menu">
                            <i class="fas fa-money-check"></i>
                            <div class="item-menu-text">
                @Html.ActionLink("TIN TỨC", "Index", "TinTuc")
                        </div>

                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <div class="item-menu">
                        <i class="fas fa-user"></i>
                        <div class="item-menu-text">
                            @Html.ActionLink("ĐĂNG NHẬP", "Index", "Default/Login", new { area = "Admin" }, null)
                        </div>

                    </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="GioHang&checkout_Page/gioHang.html">
                        <div class="item-menu">
                            <i class="fas fa-shopping-cart"></i>
                            <div class="item-menu-text">
                                <p>Giỏ hàng </p>
                            </div>

                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>